.form {
  width: 400px;
  //background-color: orange;
  position: relative;
}

.input {
  width: auto !important;
  margin-bottom: 10px;
  display: block !important;
}

.textarea {
  width: 183px !important;
}

.contacts {
  margin-left: 50px;
  font-size: 20px;
}